template(name='bulletNotes')
  +uploadForm
  +uploadedFiles
  ol#notes.content-scrollable.note-items.sortable
    if focusedNote.body
      li.body(contenteditable='true')
        if focusedNote.body
          | {{{focusedNoteBody}}}
        else
          |  
    if focusedNoteFiles
      .filesContainer
        each focusedNoteFiles
          +file

    if notesReady
      each notes
        +bulletNoteItem
      if completedCount
        .toggleComplete
          if showComplete
            if alwaysShowComplete
              a.toggleAlwaysShowComplete Don't Always Show Complete
            else
              | Hide completed
              a.toggleAlwaysShowComplete Always Show Complete
          else
            | Show completed ({{completedCount}} completed notes)
      li.newNote
        | Add a new note..
    else
      .wrapper-message
        .title-message {{_ 'notes.show.loading'}}

template(name='uploadForm')
  with currentUpload
    | Uploading 
    b {{file.name}}
    | : 
    span#progress {{progress.get}}%
  else
    input#fileInput(type='file')
    p
      small
        | Upload file in 
        code jpeg
        |  or 
        code png
        |  format, with size less or equal to 10MB

template(name='uploadedFiles')
  if uploadedFiles.count
    ul
      each file in uploadedFiles.each
        li
          a(href='{{file.link}}?download=true', download='{{file.name}}') {{file.name}}

  else
    div No files uploaded, yet
